@import "tailwindcss";

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@theme inline {
  --color-background: #fbfbfb;
  --color-foreground: #120802;
  --color-accent: #e66a1e;
  --font-sans: "Neue Montreal", system-ui, sans-serif;
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), Helvetica, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    line-height: 1.2;
  }

  p {
    line-height: 1.5;
  }
}

.org-box {
  @apply bg-accent w-4 h-4;
}

.nav-link {
  @apply flex items-center justify-center gap-2;
}
